/* import font family is == Bai Jamjuree & Cabin ==*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
/* =====  01. Reset  ====== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Cabin", sans-serif;
  line-height: 1;
  background: #04070e;
  color: #ffffff;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

select::-ms-expand {
  display: none;
}

label {
  font-weight: normal;
}

iframe {
  width: 100%;
}

/* =====  End of 01. Reset  ====== */
/* ===== 02. Global Style ===== */
h1 {
  font-size: 75px;
  font-weight: 600;
  line-height: 75px;
  font-family: "Bai Jamjuree", sans-serif;
}

h2 {
  font-size: 50px;
  font-weight: 600;
  line-height: 75px;
  font-family: "Bai Jamjuree", sans-serif;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  font-family: "Bai Jamjuree", sans-serif;
}

h4 {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  font-family: "Bai Jamjuree", sans-serif;
}

h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 27.5px;
  font-family: "Bai Jamjuree", sans-serif;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.87px;
  font-family: "Bai Jamjuree", sans-serif;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Cabin", sans-serif;
}

button {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px 35px;
  font-family: "Bai Jamjuree", sans-serif;
}

a {
  font-size: 18px;
  font-weight: 500;
  line-height: 22.5px;
  font-family: "Bai Jamjuree", sans-serif;
  text-decoration: none;
  border-radius: 40px;
}

.cyan-btn a {
  padding: 20px 48px;
  background-color: #00f0ff;
  border: 1px solid #00f0ff;
  color: #04070e;
  transition-duration: 0.3s;
}

.cyan-btn a:hover {
  background-color: transparent;
  color: #00f0ff;
  border: 1px solid #00f0ff;
  box-shadow: inset 0px 0px 5px #00f0ff, 0px 0px 5px #00f0ff;
}

/* input area sugguseation color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

span {
  font-family: "Cabin", sans-serif;
}

.active {
  color: #e6b938;
}

#Succes-box {
  position: fixed;
  background-color: #e6b938;
  text-align: center;
  width: 60%;
  padding: 103px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  top: 29%;
  z-index: 5;
  border-radius: 25px;
  display: none;
  right: 20%;
  color: #fff;
}

#Succes-box2 {
  position: fixed;
  background-color: #e33d5c;
  text-align: center;
  width: 60%;
  padding: 103px 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  top: 29%;
  z-index: 5;
  border-radius: 25px;
  display: none;
  right: 20%;
  color: #fff;
}

.hover1 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #e33d5c;
  background-color: #e33d5c;
  color: #fff;
  z-index: 1;
  padding: 10px 35px;
  transition: all 0.9s ease;
  text-align: center;
}

.hover1:hover {
  color: #212322 !important;
}

.hover1::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #fff;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover1:hover::before {
  width: 0%;
  background-color: #fff;
  right: 0;
}

.hover1::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #fff;

  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover1:hover::after {
  width: 100%;
  background-color: #fff;
  left: 0;
}

.hover2 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #212322;
  background-color: #212322;
  color: #fff;
  z-index: 1;
  padding: 10px 35px;
  transition: all 0.9s ease;
  text-align: center;
}

.hover2:hover {
  color: #212322 !important;
}

.hover2::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #fff;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover2:hover::before {
  width: 0%;
  background-color: #fff;
  right: 0;
}

.hover2::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #fff;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover2:hover::after {
  width: 100%;
  background-color: #fff;
  left: 0;
}

.hover4 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #212322;
  color: #fff;
  z-index: 1;
  transition: all 0.9s ease;
  text-align: center;
}

.hover4:hover {
  color: #fff !important;
}

.hover4::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #212322;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover4:hover::before {
  width: 0%;
  background-color: #212322;
  right: 0;
}

.hover4::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #212322;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover4:hover::after {
  width: 100%;
  background-color: #212322;
  left: 0;
}

.hover5 {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1.5px solid #212322;
  color: #fff;
  z-index: 1;
  transition: all 0.9s ease;
  text-align: center;
}

.hover5:hover {
  color: #fff !important;
}

.hover5::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.9s ease;
  background-color: #e6b938;
  z-index: -1;
  top: 0;
  left: 0;
}

.hover5:hover::before {
  width: 0%;
  background-color: #e6b938;
  right: 0;
}

.hover5::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease;
  background-color: #e6b938;
  z-index: -1;
  bottom: 0;
  right: 0;
}

.hover5:hover::after {
  width: 100%;
  background-color: #e6b938;
  left: 0;
}

.hover3 {
  position: relative;
  transition: 0.2s ease-in-out;
  color: #212322;
}

.hover3:hover {
  transform: translateY(-3px);
}

/* ===== End of 02. Global Style ===== */
/* ========= 1.1. Header section ========= */
header {
  background-color: rgba(19, 27, 38, 0.9);
  position: absolute;
  width: 100%;
}

.navbar {
  padding: 10px 0px;
}

.nav-logo {
  z-index: 3;
}

.nav-logo img {
  width: 220px;
}

.navbar-collapse {
  justify-content: center;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icons i {
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.2s;
}

.nav-icons i:hover {
  color: #00f0ff;
}

.nav-icons hr {
  transform: rotate(90deg);
  width: 30px;
  border: 1px solid #ffffff;
  opacity: 1;
}

.right-sidbar {
  width: 280px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: -355px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  z-index: 99;
  background-color: #131b26;
}

.open-aside {
  display: none;
  z-index: 2;
}

aside .fa-xmark {
  padding: 8px 13px;
  background-color: #04070e;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 22px;
}

aside .fa-caret-down {
  font-size: 22px;
}

aside a {
  color: #fff;
}

aside a:hover {
  color: #00f0ff;
}

#slid-drop {
  display: none;
}

aside li {
  padding: 12px;
}

#slid-drop li {
  padding: 12px 0px;
}

.aside-dropdwon {
  display: block !important;
}

.page-btn {
  padding: 10px 0px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.navbar ul li a {
  color: #fff;
  padding: 12px;
  font-size: 16px;
}

.navbar ul li a:hover {
  color: #00f0ff;
}

.dropdown ul {
  width: 200px;
}

.dropdown-menu {
  transition: transform 2.3s ease;
  padding: 0px;
  background-color: #0f1412;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown ul li a {
  color: #fff;
}

.dropdown ul li a:hover {
  background-color: #0f1412;
}

.open-aside {
  padding: 9px 14px;
  background-color: #00f0ff;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
}

/* =============== Update bar =============== */

.update-sidbar {
  width: 620px;
  position: fixed;
  height: 100vh;
  top: 0;
  right: -620px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  z-index: 99;
  background-color: #04070e;
}

.update-sidbar .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 33px 50px;
}

.update-sidbar .content .navbar-brand img {
  width: 40%;
}

.update-sidbar .content ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.update-sidbar .content ul li i {
  font-size: 18px;
  width: 20px;
}

.update-sidbar .content .d-flex {
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  margin-top: -10px;
}

.update-sidbar .content .d-flex input {
  border: none;
  border-radius: 50px;
  outline: none;
  width: 90%;
  padding: 10px 20px;
  color: #04070e;
}

.update-sidbar .content .d-flex .circle-btn {
  border-radius: 50px;
  background-color: #00f0ff;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
}

.update-sidbar .content .d-flex .circle-btn i {
  color: #04070e;
  transition-duration: 0.3s;
  font-size: 20px;
}

.update-sidbar .content .d-flex .circle-btn:hover {
  color: #ffffff;
  background-color: #04070e;
  width: 155px;
  justify-content: space-between;
  padding: 0px 5px 0px 17px;
}

.update-sidbar .content .d-flex .circle-btn h6 {
  display: none;
}

.update-sidbar .content .d-flex .circle-btn:hover h6 {
  display: block;
}

.update-sidbar .content .d-flex .circle-btn:hover i {
  color: #04070e;
  transform: rotate(360deg);
  background-color: #00f0ff;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-update {
  display: none;
  z-index: 2;
}

.update-sidbar .content .icons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.update-sidbar .content .icons i {
  border: 1px solid #ffffffe5;
  color: #ffffff;
  background-color: #00000066;
  font-size: 21px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.update-sidbar .content .icons i:hover {
  border: 1px solid #00f0ff;
  color: #00f0ff;
}

/* =============== Update bar =============== */
/* ========= End of 1.1. Header section ========= */
/* ========= 1.2. Hero section ========= */
.hero_bg {
  background-image: url("/assets/images/bg/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.Hero .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 41%;
  padding: 100px 0px;
  margin-top: 50px;
}

.Hero .content h1 {
  line-height: 100px;
}

.Hero .content span img {
  border-radius: 20px;
}

.Hero .content .cyan-btn a {
  display: flex;
}

.Hero .content .d-flex {
  margin-top: 40px;
  align-items: center;
  gap: 50px;
}

.Hero .content .d-flex h3 {
  line-height: 45px;
}

.logo_slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.logo_slider div {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.logo_slider div img {
  width: 80%;
}

.hero-hr {
  color: #ffffff;
  margin-top: 0px;
}

/* ========= End of 1.2. Hero section ========= */

/* ========= 1.3. About section ========= */
.About {
  padding: 100px 0px;
}

.About .content h6 i {
  font-size: 12px;
}

.About .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0px;
}

.About .content h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.About .flex-column {
  width: 90%;
  margin: 20px 0px 40px;
}

.About .content .cyan-btn a {
  display: flex;
  width: 196px;
}

.About .col-md-6:nth-child(2) {
  display: flex;
  align-items: center;
}

.About .col-md-6:nth-child(2) img {
  width: 80%;
  object-fit: cover;
}

.About .progress-bar {
  background-color: #131b25;
  height: 9px;
  margin: 7px 0px 20px;
  border-radius: 30px;
}

.About .progress-bar .progress {
  background-color: #00f0ff;
  width: 90%;
}

/* ========= End of 1.3. About section ========= */
/* ========= 1.4. Portfolio section ========= */
.Portfolio {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Portfolio h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Portfolio h6 i {
  font-size: 12px;
}

.Portfolio .row {
  margin: 50px 0px;
}

.Portfolio .row .col-md-6 img {
  width: 100%;
  object-fit: cover;
  transition-duration: 0.3s;
}

.Portfolio .row .col-md-6 img:hover {
  transform: scale(1.1);
}

.Portfolio .row .col-md-3 img:hover {
  transform: scale(1.1);
}

.Portfolio .row .col-md-3 img {
  width: 100%;
  object-fit: cover;
  display: flex;
  transition-duration: 0.3s;
}

.Portfolio .row .col-md-3,
.Portfolio .row .col-md-6 {
  padding: 0px;
  margin: 0px;
}

.Portfolio .col-md-6 .position-relative {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Portfolio .col-md-6 .position-absolute {
  backdrop-filter: blur(100px);
  width: 80%;
  bottom: 0px;
  padding: 30px 70px;
  text-align: start;
  opacity: 0;
  transition-duration: 0.3s;
}

.Portfolio .col-md-6 .position-relative:hover .position-absolute {
  opacity: 1;
  transform: translateY(-50px);
}

.Portfolio .col-md-3 .position-relative {
  display: flex;
  justify-content: center;
  height: 50%;
  overflow: hidden;
}

.Portfolio .col-md-3 .position-absolute {
  backdrop-filter: blur(100px);
  width: 80%;
  bottom: 0px;
  padding: 20px;
  text-align: start;
  opacity: 0;
  transition-duration: 0.3s;
}

.Portfolio .col-md-3 .position-relative:hover .position-absolute {
  opacity: 1;
  transform: translateY(-30px);
}

.Portfolio .logo_slider img {
  width: 120%;
  margin: auto;
}

.Portfolio .logo_slider .creativity {
  width: 100%;
}

.Portfolio .logo_slider .diamond {
  width: 20%;
  margin: auto;
}

/* ========= End of 1.4. Portfolio section ========= */
/* ========= 1.5. Services section ========= */
.gray_bg {
  border-top: 5px solid #ffffff33;
  border-bottom: 5px solid #ffffff33;
  background-color: #131b2666;
}

.Services {
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Services h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Services h6 i {
  font-size: 12px;
}

.Services .row {
  padding: 50px 0px;
}

.Services .row .col-md-3 img {
  width: 100%;
  object-fit: cover;
}

.Services .col-md-3 .position-relative {
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
}

.Services .col-md-3 .position-relative:hover {
  transform: translateY(-10px);
  box-shadow: 0px 0px 5px #00f0ff;
}

.Services .col-md-3 .position-absolute {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: start;
  padding: 15px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#04070e00, #04070ecc);
}

/* ========= End of 1.5. Services section ========= */
/* ========= 1.6. Why section ========= */
.Why {
  padding: 50px 0px;
}

.Why .row {
  display: flex;
  flex-direction: row-reverse;
}

.Why .content h6 i {
  font-size: 12px;
}

.Why .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0px;
}

.Why .content h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Why .content .cyan-btn a {
  display: flex;
  width: 196px;
}

.Why .col-md-6:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: end;
}

.Why .col-md-6:nth-child(2) img {
  width: 80%;
  object-fit: cover;
  margin-right: 50px;
}

.Why .flex-column {
  width: 70%;
  margin: 20px 0px 30px;
  gap: 20px;
}

.Why .flex-column .d-flex {
  gap: 30px;
  align-items: start;
}

.Why .flex-column .d-flex img {
  height: 50px;
  width: 90px;
  padding: 1px;
}

/* ========= End of 1.6. Why section ========= */
/* ========= 1.7. Pricing section ========= */
.Pricing {
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Pricing h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Pricing h6 i {
  font-size: 12px;
}

.Pricing .row {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.Pricing .flex-column {
  justify-content: start;
  align-items: start;
  text-align: start;
  gap: 5px;
  background-color: #131b2666;
  padding: 40px;
  border: 1px solid #717171;
}

.Pricing .flex-column .price {
  display: flex;
  align-items: start;
  gap: 8px;
}

.Pricing .flex-column .price p {
  padding-top: 17px;
}

.Pricing .flex-column hr {
  width: 100%;
  margin: 5px 0px 25px;
}

.Pricing .flex-column ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.Pricing .flex-column ul li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.Pricing .flex-column ul li i {
  font-size: 12px;
}

.Pricing .flex-column .cyan-btn {
  margin-top: 30px;
  width: 100%;
}

.Pricing .flex-column .cyan-btn a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Pricing .flex-column .disable {
  color: #7d7d7d;
}

/* ========= End of 1.7. Pricing section ========= */
/* ========= 1.8. Testimonials section ========= */
.Testimonials {
  padding: 100px 0px;
}

.Testimonials .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 0px 20px 95px;
}

.Testimonials .content h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Testimonials .content .d-flex {
  margin: 25px 0px;
}

.Testimonials .content .d-flex div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.Testimonials .content .d-flex div img {
  height: 65px;
  width: 67px;
}

.Testimonials .content .d-flex hr {
  border: none;
  border-left: 1px solid #ffffff;
  width: 1px;
  margin: 0px 40px;
  height: 186px;
}

.Testimonials .content h6 i {
  font-size: 12px;
}

.Testimonials .content .buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.Testimonials .content .buttons .cyan-btn a {
  display: flex;
  width: 196px;
}

.Testimonials .content .buttons .d-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 196px;
}

.Testimonials .users {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0px 0px 0px 100px;
}

.Testimonials .users .user {
  background-color: #131b2666;
  border: 1px solid #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  width: 80%;
  transition-duration: 0.2s;
}

.Testimonials .users .user:hover {
  border: 1px solid #00f0ff;
}

.Testimonials .users .user:nth-child(2) {
  margin-left: 70px;
}

.Testimonials .users .user img {
  border-radius: 100%;
  width: 20%;
}

.Testimonials .users .user .stars {
  font-size: 11px;
  margin: 5px 0px;
}

/* ========= End of 1.8. Testimonials section ========= */
/* ========= 1.9. Hub section ========= */
.Hub {
  margin: 10px auto 100px;
  width: 90%;
  background-image: url("/assets/images/bg/hub-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.Hub .container {
  padding: 100px;
}

.Hub .container .content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.Hub .container .content .cyan-btn a {
  display: flex;
  width: 196px;
  margin: 10px 0px;
}

.Hub .d-flex a img {
  width: 90%;
}

/* ========= End of 1.9. Hub section ========= */
/* ========= 1.10. FAQ's section ========= */
.Faq {
  padding: 100px 0px;
}

.Faq .content h6 i {
  font-size: 12px;
}

.Faq .content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 0px;
}

.Faq .content h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Faq .col-md-6:nth-child(2) {
  display: flex;
  align-items: center;
}

.Faq .col-md-6:nth-child(2) img {
  width: 80%;
  object-fit: cover;
}

.Faq .accordion {
  width: 90%;
  margin-top: 5px;
}

.Faq .accordion-item {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  outline: none;
  margin-bottom: 1rem;
  width: 100%;
}

.Faq .accordion-item:first-of-type,
.Faq .accordion-item:last-of-type {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.Faq .accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.Faq .accordion-button .collapsed {
  background-color: transparent !important;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.Faq .accordion-item .accordion-button.collapsed {
  background-color: transparent;
}

.Faq .accordion-header button {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.5px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.Faq .accordion-button {
  background: #ffffff1a;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 5px;
}

.Faq .accordion-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 5px;
}

.Faq .accordion-button:focus {
  border: none;
  box-shadow: none;
}

.Faq .accordion-button:not(.collapsed) {
  box-shadow: none;
  gap: 20px;
  padding-bottom: 0;
  color: rgba(255, 255, 255, 1);
}

.Faq .accordion-button:not(.collapsed)::after {
  background-image: url("../images/icons/minus.svg");
  position: relative;
  top: -7px;
}

.Faq .accordion-button::after {
  background-image: url("../images/icons/plus.svg");
}

/* ========= End of 1.10. FAQ's section ========= */
/* ========= 1.11. Blogs section ========= */
.Blogs {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Blogs h6 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Blogs h6 i {
  font-size: 12px;
}

.Blogs .row {
  padding: 50px 0px;
}

.Blogs .row .col-md-4 img {
  width: 100%;
  object-fit: cover;
}

.Blogs .col-md-4 .position-relative {
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

.Blogs .col-md-4 .position-relative img {
  transition-duration: 0.3s;
}

.Blogs .col-md-4 .position-relative:hover img {
  transform: scale(1.1);
}

.Blogs .col-md-4 .position-relative:hover {
  transform: translateY(-10px);
}

.Blogs .col-md-4 .position-absolute {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: start;
  gap: 10px;
  padding: 30px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(#04070e00, #04070ecc);
}

.Blogs .col-md-4 .position-absolute p {
  font-size: 18px;
}

.Blogs .position-absolute .date {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

.Blogs .position-absolute .date i {
  font-size: 12px;
}

.Blogs .d-flex {
  gap: 5px;
  transition-duration: 0.3s;
  cursor: pointer;
  color: #ffffff;
  width: 120px;
}

.Blogs .d-flex:hover {
  gap: 10px;
  color: #00f0ff;
}

/* ========= End of 1.11. Blogs section ========= */
/* ========= 1.12. Footer section ========= */
.Footer {
  padding: 60px 0px 0px;
}

.Footer .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
  padding: 0px 70px 0px 0px;
}

.Footer .col-md-4 img {
  width: 40%;
}

.Footer .col-md-4 .d-flex i {
  border: 1px solid #ffffffe5;
  color: #ffffff;
  background-color: #00000066;
  font-size: 21px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
}

.Footer .col-md-4 .d-flex i:hover {
  border: 1px solid #00f0ff;
  color: #00f0ff;
}

.Footer .col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.Footer .col-md-8 .d-flex input {
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 30px;
  padding: 20px 30px;
  width: 70%;
  color: #ffffff;
  outline: none;
}

.Footer .col-md-8 .d-flex .cyan-btn a {
  display: flex;
  margin: 10px 0px;
}

.Footer hr {
  border: 1px solid #ffffff;
  width: 100%;
}

.Footer .col-md-8 .col-md-6 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.Footer .col-md-8 .col-md-6 ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.Footer .col-md-8 .col-md-6 ul li i {
  font-size: 16px;
  width: 20px;
}

.Footer .col-md-8 .col ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  width: 100%;
}

.Footer .col-md-8 .col ul li a {
  color: #ffffff;
  transition-duration: 0.3s;
}

.Footer .col-md-8 .col ul li a:hover {
  color: #00f0ff;
}

.Footer .justify-content-center {
  padding: 30px 0px 25px;
  margin-top: 40px;
  border-top: 5px solid #ffffff33;
}

/* ========= End of 1.12. Footer section ========= */
/* ========= 2.2. Hero section ========= */
.About-Hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}

.About-Hero .container p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
}

.About-Hero .container p span {
  font-size: 10px;
}

.About-Hero hr {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  width: 90%;
  margin: auto;
}

/* ========= End of 2.2. Hero section ========= */

/* ========= 10.1. Coming-soon section ========= */

.Coming-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/bg/coming-soon-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Coming-soon .content {
  text-align: center;
  width: 40%;
}

.Coming-soon .content h2 {
  font-size: 60px;
  font-weight: 700px;
  line-height: 60px;
  color: #00f0ff;
  margin-bottom: 20px;
}

.Coming-soon .content .cyan-btn {
  margin: 50px 0px;
}

.Coming-soon #countdown {
  display: flex;
  gap: 15px;
}

.Coming-soon .time-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(19, 27, 38, 0.4);
  border: 1px solid rgba(113, 113, 113, 1);
  border-radius: 12px;
  height: 119px;
  width: 121px;
}

.Coming-soon .time-box span {
  display: block;
  font-size: 2em;
  margin-bottom: 5px;
}

.Coming-soon .time-box #days,
.Coming-soon .time-box #hours,
.Coming-soon .time-box #minutes,
.Coming-soon .time-box #seconds {
  font-weight: 600px;
  font-size: 50px;
  font-family: "Bai Jamjuree", sans-serif;
}

.Coming-soon .align-items-center {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.Coming-soon .align-items-center .icons {
  display: flex;
  gap: 15px;
}

.Coming-soon .align-items-center .icons i {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 1);
  padding: 11px;
  font-size: 17px;
  transition-duration: 0.2s;
}

.Coming-soon .align-items-center .icons i:hover {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #00f0ff;
  color: #00f0ff;
}

/* ========= 10.1. Coming-soon section ========= */

/* ========= 11.1. Error section ========= */

.Error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Error .content {
  text-align: center;
  width: 40%;
}

.Error .content .err {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 260px;
  font-weight: 400px;
  margin-bottom: 10px;
}

.Error .content .cyan-btn {
  margin: 50px 0px;
}

.Error .align-items-center {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.Error .align-items-center .icons {
  display: flex;
  gap: 15px;
}

.Error .align-items-center .icons i {
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  transition-duration: 0.2s;
}

.Error .align-items-center .icons i:hover {
  color: #00f0ff;
}

/* ========= End of 11.1. Error section ========= */
